body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
h1 {
	background-color: #0079bf;
	margin: 0;
	padding: 10px;
	color: white;
}
h1,p {
	text-align: center;
}
em {
	font-weight: bold;
	font-size: 2em;
	color: tomato;
}
#inputArea {
	display: flex;
	flex-direction: row;
	align-content: center;
}
input {
	font-size: 1.5em;
	border-radius: 10px;
	border: 1px solid #0079bf;
}
input:focus {
	background-color: #0079bf;
	color: white;
}
input::placeholder {
	color: #0079bf;
}
button {
	border: 0;
	background-color: #6D8EA2;
	color: white;
	border-radius: 10px;
}
ul {
	width: 50%;
	padding: 10px;
	margin-left: 10px;
	background-color: #3EB9DE;
	border-radius: 5px;
	list-style-position: inside;
	list-style-type: square;
}
li {
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 10px;
	width: 50%;
	color: black;
	overflow-x: hidden;
	cursor: pointer;
}
li::selection {
	color: black;
	background-color: lightblue;
}
.strike {
	text-decoration: line-through;
}
.circle {
	font-size: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
